@import url('./reset.css');
@import url('./normalize.css');
@import url('./fonts.css');
@import url('./base.css');
@import url('./container.css');

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 1280px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .error-content {
    text-align: left;
  }
}

.error-code {
  font-size: 32px;
  color: var(--accent);
  font-weight: 700;
  margin-bottom: 10px;
}

.error-title {
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .error-title {
    font-size: 80px;
  }
}
@media (min-width: 1280px) {
  .error-title {
    font-size: 92px;
  }
}

.error-text {
  font-size: 24px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .error-text {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  .error-text {
    font-size: 24px;
  }
}

.back-button {
  display: inline-block;
  color: var(--cards);
  background-color: #007bff;
  padding: 15px 18px;
  border-radius: 18px;
  font-size: 16px;
  transition: background-color 300ms ease-in-out, translate 300ms ease-in-out;
}

@media (min-width: 768px) {
  .back-button {
    font-size: 20px;
    padding: 16px 24px;
  }
}

.back-button:hover {
  background-color: #0056b3;
  translate: 5px;
}
.back-button:active {
  translate: 10px;
}

.error_img {
  display: none;
}
@media (min-width: 768px) {
  .error_img {
    max-width: 350px;
    display: block;
  }
}
@media (min-width: 1280px) {
  .error_img {
    max-width: 400px;
  }
}
